<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sayantanbanerjee.todolist">

    <application
        android:allowBackup="true"
        android:icon="@drawable/todolist"
        android:label="@string/app_name"
        android:roundIcon="@drawable/todolist"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ToDoActivity"
            android:parentActivityName=".ListActivity"
            android:screenOrientation="portrait">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListActivity" />
        </activity>
        <activity
            android:name=".EditActivity"
            android:parentActivityName=".ListActivity"
            android:theme="@style/EditTheme">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ListActivity" />
        </activity>
        <activity
            android:name=".ListActivity"
            android:theme="@style/ListTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationReceiver"/>

        <provider
            android:name=".data.ToDoProvider"
            android:authorities="com.example.android.todo"
            android:exported="false" />
    </application>

</manifest>